<div class="copyright">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<p>{{@site.title}}<span class="all-rights-reserved">&copy; 2019 • All rights reserved</span></p>
				<p><a href="http://www.miitbeian.gov.cn/" target="_blank">粤ICP备18139752号</a></p>
				<div>
					<span>由 <a href="https://ghost.org" target="_blank" rel="noopener">Ghost</a> 驱动 v3.16.1</span>
					<span>|</span>
					<span>主题 - <a rel="noopener" href="https://github.com/NewGreenHand/ghost-theme-lscru" target="_blank"><span>lscru</span></a> v1.1.0</span>
				</div>
			</div>
		</div>
	</div>
</div>

