{{!< default}}

<div class="author-page">
	<header>
		<div class="header-top">
			{{navigation}}
		</div>
	</header>

	<div class="author-container">
		<div class="plane-wrapper">
			<h3>还没想好 呢</h3>
		</div>
		<div class="about-me-content">
			
		</div>
	</div>
</div>






