<li><a href="https://weibo.com/3135825643" target="_blank"><i class="fa fa-weibo"></i></a></li>
<li><a href="https://github.com/NewGreenHand" target="_blank"><i class="fa fa-github"></i></a></li>
<li>
	<a href="#" target="_blank">
		<i class="fa fa-facebook"></i>
	</a>
</li>
<li>
	<a href="#" target="_blank">
		<i class="fa fa-tumblr"></i>
	</a>
</li>


