<!-- 评论框的位置 -->
<div id="vcomments" class="vcomments"></div>

<!-- 加载valine -->
<script src='//unpkg.com/valine/dist/Valine.min.js'></script>
<script>
    new Valine({
        el: '#vcomments',
        appId: 'klo5ynFuuKEfzIPTPDnMrHmH-gzGzoHsz',
        appKey: 'wPm1267YM8JM3ScXngPNIxl6'
    })
</script>